{{ define "title" }}About{{ end }} {{ define "image" }}static/images/sweden4.jpg{{ end }} {{ define "links" }}
<li class=""><a href="/">Blog</a>
</li>
<li class="active"><a href="/about">About</a>
</li>
<li class=""><a href="/portfolio">Portfolio</a>
</li>
{{ end }} {{ define "content" }}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: #444; height: 140px;">
    <h1 style=" font-family: 'Open Sans Condensed'; color:orange; font-size:70px; position: relative; top: -45px;">About <i class="fa fa-male"></i>
    </h1>

    <p style="color:white"></p>
</div>

<div class="container-fluid col-md-4">
    <div class="card" style="background-color: #444">
        <div class="container-fluid">
            <div>
                <div class="card-user">

                    <div class="image">


                    </div>

                    <div class="content">

                        <div class="author">

                            <a href="#">

                                <img class="avatar" src="static/img/faces/austin.jpg" alt="..." />


                                <h4 class="title" style="color:white">Austin Prete
                                    <br/>

                                    <small style="color:white">Software Engineer</small>
                                    <br/>
                                </h4>

                            </a>

                        </div>

                        <p class="description text-center" style="color:white">

                            <i class="fa fa-map-marker text-muted" style="color:white"></i> Salt Lake City, UT
                            <br>

                            <a href="mailto:acp2142@gmail.com?Subject=Inquiry" style="color:white"><i class="fa fa-envelope-o text-muted" style="color:white"></i> acp2142@gmail.com</a>

                        </p>

                    </div>

                    <hr>

                    <div class="text-center">

                        <button href="#" class="btn btn-social btn-simple"><a href="http://facebook.com/acprete"><i class="fa fa-facebook-square" style="color:white"></i></a>
                        </button>

                        <button href="#" class="btn btn-social btn-simple"><a href="http://www.twitter.com/austinprete"><i class="fa fa-twitter" style="color:white"></i></a>
                        </button>

                        <button href="#" class="btn btn-social btn-simple"><a href="http://www.linkedin.com/in/austinprete"><i class="fa fa-linkedin-square" style="color:white"></i></a>
                        </button>


                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-md-4">
    <div class="card" style="background-color: #444">
        <div class="container-fluid">
            <h1 class="page-header" style="color:white; font-weight:200">Biography
            </h1>
            <p style="color:white">
                My name is Austin Prete. I am a 19 year old living in Salt Lake City with experience working as a software engineer in the San Francisco Bay Area. Previous roles involved web development, iOS development, and big data acquisition. In my free time I enjoy rock climbing, snowboarding, and running, as well as working on personal software projects. 
            </p>
        </div>
    </div>
</div>
{{ end }}
