{{ define "title" }}Blog{{ end }} {{ define "image" }}/static/images/sweden1.jpg{{ end }} {{ define "links" }}
<li class="active"><a href="/">Blog</a>
</li>
<li class=""><a href="/about">About</a>
</li>
<li class=""><a href="/portfolio">Portfolio</a>
</li>
{{ end }} {{ define "content" }}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: #444">
    <h1 style=" font-family: 'Open Sans Condensed'; color:orange; font-size:70px">Austin Prete </h1>

    <p style="color:white">A teen programmer dreaming in Python and Go</p>
</div>
{{ range . }}
<div class="container-fluid col-md-6">
    <div class="container-fluid card" style="background-color: #444; color: white; height: 150px">
        <div class="content">
            <form action="/" method="post">
                <h3 class="title " style="text-decoration: underline; ">
                    <a style="color:white" href="/post?p={{ .ID }}"> {{ .Title }}</h3>
                                </a>
            </form>
            <p>
                {{ .Content }}
            </p>
        </div>
        <div class="footer ">
            <div class="author ">
                <span>Posted by: {{ .Author }}</span>
            </div>
            <div class="stats pull-right " style="color: #ccc ">
                <span>posted on: {{ .Date }}</span>
            </div>
        </div>
    </div>
</div>
{{ end }} {{ end }}